{{#> layout}}
    <!--[if (gte mso 9)|(IE)]>
        <table width="100%">
     <![endif]-->
                {{> @partial-block }}
    <!--[if (gte mso 9)|(IE)]>
        </table>
    <![endif]-->
{{/layout}}