{{#> layout }}
    <!--[if (gte mso 9)|(IE)]>
    <table width="600" align="center"><tr><td style="padding-top:0; padding-bottom:0;
    padding-right:0; padding-left:0; margin:0px;">
    <![endif]-->
    <table align="center" class="container" cellspacing="0" cellpadding="0" border="0"
           style="width:100%; max-width:600px; border:0">
        {{> @partial-block }}
    </table>
    <!--[if (gte mso 9)|(IE)]>
    </td></tr></table>
    <![endif]-->
{{/layout}}